@model SLNClinica.Models.Medico
@{
    ViewData["Title"] = "Detalles medico";
}
    <h2> Ver Detalle</h2>
    @Html.ActionLink("Volver","Index","Medico")

    <p>
        @Html.DisplayNameFor(m=> m.Nombre);
        @Html.DisplayFor(m=>m.Nombre);
    </p>
    <p>
        @Html.DisplayNameFor(m=> m.Apellido);
        @Html.DisplayFor(m=>m.Apellido);
    </p>
    <p>
        @Html.DisplayNameFor(m=> m.Matricula);
        @Html.DisplayFor(m=>m.Matricula);
    </p>
    @Html.ActionLink("Editar","Edit","Medico",new{id=Model.Id})

