@model SLNClinica.Models.Medico
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h2>Editar Medico</h2>
    @using (Html.BeginForm("Edit", "Opera", FormMethod.Post))
    {
        <p>
            @Html.LabelFor(m=> m.Nombre)
            @Html.TextBoxFor(m=>m.Nombre)
            @Html.ValidationMessageFor(m=> m.Nombre)
        </p>

        <p>
            @Html.LabelFor(m=> m.Apellido)
            @Html.TextBoxFor(m=>m.Apellido)
            @Html.ValidationMessageFor(m=> m.Apellido)
        </p>

        <p>
            @Html.LabelFor(m=> m.Matricula)
            @Html.TextBoxFor(m=>m.Matricula)
            @Html.ValidationMessageFor(m=> m.Matricula)
        </p>
        <input type="submit" action="Edit"/>
        @Html.ActionLink("Volver","Index", "Medico")

    }
</body>
</html>
